<!DOCTYPE html>
<html>
<head>
    <title>Список Post</title>
    <meta charset="utf-8"/>
    <script type="text/javascript"></script>
</head>
<body>
<script type="text/javascript">
    function get_element() {
        let id = document.getElementById('Post_id_get_ith_parm');
        alert(id.value);
        fetch(`http://localhost:3000/Post/${id.value}`, {
            method: "GET",
            headers: {
                "Content-Type": 'application/json; charset=utf-8',
                'Accept': 'application/json'
            },

        }).then(res => {
            return res.json();
        }).then((data) => {
            result.innerHTML = "";

            let counter = 0;
            let keys;
            let values;

            data.forEach(el => {
                keys = Object.keys(el);
                values = Object.values(el);

                let table_value = "";

                for (let i = 0; i < keys.length; i++) {
                    table_value += keys[i] + ": "
                            + values[i];
                }
                result.innerHTML += table_value + "<br/>";
            })
        })
    }
</script>
<h2>Добавить Post</h2>
<form action="/PostPost" method="POST">
    <input type="text" name="Post_name" placeholder="Post_name">
    <input type="submit" value="Add">
</form>

<h2>Удалить DELETE</h2>
<form action="/PostDel?_method=DELETE" method="POST">
    <input type="text" name="Post_id" placeholder="Post_id">
    <input type="submit" value="add">
</form>

<h2>Изменить Put</h2>
<form action="/Posts?_method=PUT" method="POST">
    <input type="text" name="Post_id" placeholder="Post_id">
    <input type="text" name="Post_name" placeholder="Post_name">
    <input type="submit" value="add">
</form>

<h2>get с параметром</h2>
<input type="text" id="Post_id_get_ith_parm" name="Post_id_get_ith_parm" value="{{Post_id_get_ith_parm}}"
       placeholder="Post_id_get_ith_parm">
<input type="submit" onclick="get_element()" value="Submit">
<div id="result"></div>

<table>
{{#if data}}
        <tr>
            <th>ID</th>
            <th>Post_name</th>
        </tr>
    {{#each data}}
            <tr>
                <td>{{this.Post_id}}</td>
                <td>{{this.Post_name}}</td>
            </tr>
    {{/each}}

    </table>
{{/if}}
</body>

<html>