<head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<script type="text/javascript">
    function add() {
        alert("вошла")
        let name = document.getElementById('name');
        let number = document.getElementById('number');
        let data = {
            name: name.value,
            number: number.value,
        }
        fetch(`http://localhost:3000/add`, {
            method: 'POST',
            headers: {
                "Content-Type": 'application/json; charset=utf-8',
                'Accept': 'application/json'
            },
            body: JSON.stringify(data),

        }).then((result) => {
            if (result.redirected) {
                window.location = result.url;
                return;
            }
        })
    }
</script>
<div className="viewArea">

    {{> table}}

</div>
<div>
    <form id="Add">
        <input type="text" id="name" maxlength="40 "/>
        <input type="text" id="number" maxlength="15"/>
    </form>
    <input class="boton1" onclick="add()"  value="Add"/>
    {{{canbutton}}}
</div>
</body>